set number relativenumber

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim

" NERDTree configurations
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeFind='/'
:nmap <leader>l :NERDTree<CR>
:nmap <leader>L :NERDTreeClose<CR>

" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>u <C-u>
vmap <leader>d <C-d>
